Source: purple-plugin-pack
Section: net
Priority: optional
Maintainer: Benjamin Seidenberg <benjamin@debian.org>
Build-Depends: debhelper (>= 5), pidgin-dev, pkg-config, libgtk2.0-dev, libglib2.0-dev, libxml-parser-perl, libenchant-dev, libgtkspell-dev, intltool, python
Standards-Version: 3.8.0

Package: pidgin-plugin-pack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: pidgin
Description: 57 useful plugins for Pidgin, Finch, and Purple
 The Plugin Pack is a collection of many simple-yet-useful plugins for Pidgin,
 Finch, and Purple.  You will find a summary of each plugin below.  For more
 about an individual plugin, please see http://plugins.guifications.org/
 .
 Note: not all 57 of these plugins are currently usable
 .
 Album: Archives buddy icons
 .
 AutoProfile: User profile and status message content generator
 .
 Autoreply: Autoreply for all the protocols
 .
 Away State Notification: Shows when someone goes away/back in a conversation
 .
 bash.org: Generates links for quotes at bash.org
 .
 Buddy Icon Tools: Tools to manipulate buddy icons *DANGEROUS*
 .
 Buddy List Options: Gives extended options to the buddy list
 .
 Buddy Time: Quickly see the local time of a buddy
 .
 Chronic: Sound playing triggers
 .
 Colorize: Colorizes outgoing message text.
 .
 Conversation Badger: Badges conversations with the protocol icon.
 .
 DeWYSIWYGification: Lets you type in HTML without it being escaped
 .
 Dice: Rolls dice in a chat or im
 .
 DiffTopic: Show the old topic when the topic in a chat room changes
 .
 Magic 8 Ball: Provides Magic 8-ball like functionality
 .
 Enhanced History: An enhanced version of the history plugin
 .
 Find IP: Find the IP of a person in the buddylist
 .
 Coin Flip: Flips a coin and outputs the result
 .
 gRIM: A completely stupid and pointless plugin
 .
 GNT Smart Ear: The GNT (Finch) component of the Smart Ear plugins
 .
 Google: Writes the results of an "I'm feeling lucky" search to a conversation
 .
 Group IM: Send an IM to a group of buddies
 .
 Buddy Time (Pidgin UI): Pidgin user interface for the Buddy Time plugin
 .
 Gtk Smart Ear: The GTK+ (Pidgin) component of the SmartEar plugin suite
 .
 Hide Conversation: Hide conversations without closing them
 .
 Highlight: Support for highlighting words
 .
 Ignorance: Allows management of users with various levels of activity
 .
 Ignore: Flexible plugin to selectively ignore people
 .
 Infopane Options: Adds some options for the information pane in conversations
 .
 IRC Helper: Handles the rough edges of the IRC protocol
 .
 IRC More: Adds additional IRC features
 .
 Irssi Features: Implements features of the IRC client irssi in Pidgin
 .
 Last Seen: Record when a buddy was last seen
 .
 List Handler: Provides numerous user-requested list-handling capabilities
 .
 Chat User List Logging: Logs the list of users in a chat when you join
 .
 Message Length: Shows the length of your current message in the menu tray
 .
 Mystatusbox: Hide/Show the per-account statusboxes
 .
 Napster: NAPSTER Protocol Plugin
 .
 Nicksaid: Record when someone said your nick in a chat
 .
 No Mobility: Stops you from messaging mobile users
 .
 Old Logger: Re-implements the legacy, deficient, logging
 .
 Plonkers: Tell plonkers what you really think
 .
 Schedule: Schedule reminders at specified times
 .
 Separate And Tab: Adds two placement functions for separating and tabbing
 .
 Show Offline: Show specific buddies while offline
 .
 SIM-fix: Fix messages from broken SIM clients
 .
 /exec: /exec a la UNIX IRC CLI
 .
 Smart Ear: The Core component of the Smart Ear plugins
 .
 SNPP: SNPP Plugin
 .
 Message Splitter: Splits sent messages into smaller ones of a specified size
 .
 SSL Info: Displays info about your currently loaded SSL plugin
 .
 Stocker: A stock ticker
 .
 Switch Spell: Switch Spell Checker Language
 .
 GNU Talk Filters: Translates text in sent messages into humorous dialects
 .
 TimeLog: allows the viewing of Pidgin logs within a specific time range
 .
 XChat Chats: XChat-like chats with Pidgin
 .
 XMMS Remote Control: Control XMMS from Pidgin conversations
 .
 .
 Homepage: http://plugins.guifications.org/
